h1{font-family: 'Kanit', sans-serif;color: rgba(142, 114, 4, 0.989);}
h2{font-family: 'Space Grotesk', sans-serif; color: rgb(108, 53, 2);}
p{text-align: justify;}
.main.list{font-family: 'Space Grotesk', sans-serif;}