h1{font-family: 'Kanit', sans-serif;color: rgba(142, 114, 4, 0.989); font-weight: 400;width: auto; margin: auto;}
h2{font-family: 'Space Grotesk', sans-serif; color: rgb(108, 53, 2);}
p{text-align: justify;}
.main.list img{height: 200px; width: auto; border-style: solid; border-radius: 3px; border-color: black;} 
#title{text-align: center; font-weight: 900;}
.ingredients{background-color: beige;}
.steps{background-color: blanchedalmond;}
.description{background-color: lemonchiffon;}
.page.image{border-style:ridge; border-radius: 2px; border-color: brown;}